/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url("components/banner.css");
@import url("components/container.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
/* .banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.banner h1 {
  color: white;
  opacity: .8;
}
.banner p {
  color: white;
  opacity: .5;
}
.btn1 {
  opacity: .8;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}
.btn1:hover {
  box-shadow: 4px 4px 0 #ffffff;
  transform: translate(-4px,-4px);
}
.btn1:focus-visible{
  outline-offset: 1px;
} */
